#Git files
.gitattributes
.git

#Grunt developer
node_modules

#Sass directory
#sass
.sass-cache

#Bower update
bower_components

#Files
lang/ItalyStrap.po

#SVN files
.svn

#Composer
composer.lock
#vendor
#!/vendor/mobiledetect
#vendor/mobiledetect/mobiledetectlib
#vendor/composer/installed.json
/vendor/**/.git
/vendor/**/test*

#codeception.yml

#Tests
#tests
wp-tests-config.php
test_italystrap.php
phpunit.xml
tests/_output/*

#todo.md
**/todo.md