#Git files
.gitattributes
.git

#Grunt developer
node_modules

#Sass directory
#sass
.sass-cache

#Bower update
bower_components

#Files
lang/ItalyStrap.po

#SVN files
.svn

future-inclusions/

#Composer
composer.lock
vendor/
#/vendor/**/.git
#/vendor/**/test*
*.yml

#Tests
#tests
wp-tests-config.php
test_italystrap.php
phpunit.xml
tests/_output/*
*.bat

#todo.md
**/todo.md