#Git files
.gitattributes
.git

#Grunt developer
node_modules

#Sass directory
#sass
.sass-cache

#Bower update
bower_components

#Files
lang/ItalyStrap.po

#SVN files
.svn

#Composer
composer.lock
vendor/
#/vendor/**/.git
#/vendor/**/test*

lucatume/wp-browser
lucatume/wp-browser-commons
bacon/bacon-string-utils
codeception/codeception
facebook/webdriver
psr/http-message
webmozart/assert
phpunit/phpunit-mock-objects
sebastian/environment
symfony/browser-kit
symfony/console
symfony/css-selector
symfony/dom-crawler
symfony/event-dispatcher
symfony/finder
symfony/yaml
illuminate/support
illuminate/contracts
paragonie/random_compat
symfony/filesystem
symfony/process
filp/whoops
raveren/kint
lucatume/codeception-setup-local
behat/gherkin
guzzlehttp/guzzle
guzzlehttp/promises
guzzlehttp/psr7
phpunit/phpunit
myclabs/deep-copy
phpspec/prophecy
phpdocumentor/reflection-docblock
phpdocumentor/type-resolver
phpdocumentor/reflection-common
phpunit/php-code-coverage
phpunit/php-token-stream
sebastian/code-unit-reverse-lookup
phpunit/php-file-iterator
phpunit/php-timer
doctrine/instantiator
phpunit/php-text-template
sebastian/global-state
sebastian/object-enumerator
sebastian/resource-operations
sebastian/version
sebastian/comparator
sebastian/exporter
sebastian/recursion-context
sebastian/diff
symfony/polyfill-mbstring
dg/mysql-dump
mikemclin/laravel-wp-password
hautelook/phpass
doctrine/inflector
xamin/handlebars.php

#codeception.yml

#Tests
#tests
wp-tests-config.php
test_italystrap.php
phpunit.xml
tests/_output/*

#todo.md
**/todo.md