@import "_variables";

/**
 * Background color for widget in admin panel
 */
.widgets-holder-wrap [id*="italystrap"] .widget-top,
.widgets-holder-wrap [id*="italystrap"] .in-widget-title,
.widgets-holder-wrap [id*="italystrap"] h3 {
    background-color: #0074a2;
    color: #fff;
}
#widget-list [id*="italystrap"] .widget-top,
#widget-list [id*="italystrap"] h3 {
    background-color: #0074a2;
    color: #fff;
}
#wp_inactive_widgets [id*="italystrap"] .widget-top,
#wp_inactive_widgets [id*="italystrap"] h3 {
    background-color: #0074a2;
    color: #fff;
}


// Post Widget
.upw-divider {
	border: 0;
	border-top: 1px solid #DFDFDF;
}

.upw-tabs {
	display: block;
	border-bottom: 1px solid #DFDFDF;
	margin: 1em 0;
}

.upw-tab-item {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: 0;
	color: #666;
	padding: 8px 10px;
	&:not(.active) {
		&:hover,
		&:focus {
			color: darken(#666, 10%);
			background-color: darken(#fff, 3%);
			cursor: pointer;
		}
		&:active {
			color: darken(#666, 20%);
			background-color: darken(#fff, 6%);
		}
	}
	&.active {
		color: #444;
		border-color: #DFDFDF;
		background: #fff;
		position: relative;
		bottom: -1px;
		cursor: default;
		font-weight: bold;
	}
}

.upw-hide {
	display: none !important;
}

.upw-credits {
	font-size: 0.9em;
	background: darken(#fff, 3%);
	border: 1px solid darken(#fff, 8%);
	padding: 4px 6px;
}
// Fine post widget


// Bootstrap Carousel widget
.carousel-image:hover{
	cursor: move;
}
.carousel-image:hover .dashicons-no{
	background: white;
	border-radius: 50%;
	color: red !important;
	cursor: pointer !important;
	z-index: 10;
}

.media_carousel_sortable {
	ul {
		list-style-type: none;
		min-height: 155px;
		overflow: hidden;
		&:after{
			clear: both;content: "";display: block;
		}
	}
	li {
		margin: 3px 3px 3px 0;
		padding: 1px;
		float: left;
		div{
			position: relative;
			img{
				&:hover{
					opacity:0.5;
				}
			}
			.dashicons-no{
				color: transparent;
				font-size: 20px;
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
	}
}
// Fine Bootstrap Carousel widget